.nav-bar {
  @extend .flex-align-center;
  justify-content: space-around;
  background-color: $grey-dk;
  padding: 15px 10px 15px 10px;
  border-bottom: 1px solid $grey-border;
  p {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  a:first-child {
    color: $main;
  }
  a {
    color: $grey-lt;
    margin-left: 20px;
    text-decoration: none;
    &:hover {
      color: white;
    }
    @media screen and (max-width: $break-sm) {
      margin-top: 10px;
      margin-right: 20px;
    }
  }
  @media screen and (max-width: $break-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.hero {
  background: url("../img/me.jpg");
  background-size: cover;
  background-position: center;
  @extend .flex-center-center;
  min-height: 60vh;
  padding: 10px;
}

.mid-nav-bar {
  @extend .flex-justify-center;
  padding: 10px;
  background-color: $grey-lt;
  border-bottom: 1px solid $grey-border;
  a:first-child {
    color: $main;
    font-weight: bold;
    &:hover {
      color: white;
    }
  }
  a {
    font-weight: bold;
    font-family: arial;
    font-size: 13px;
    text-decoration: none;
    color: $grey-dk;
    margin: 0 20px 0 20px;
    &:hover {
      color: $main;
    }
  }
}

.mid-nav-links {
  @extend .flex-align-center;
  @media screen and (max-width: $break-sm) {
    flex-direction: column;
  }
}

.main-body {
  display: flex;
  @media screen and (max-width: $break-sm) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: $grey-dk;
  padding: 20px;
  @extend .flex-center-center;
  min-width: 20vw;
  h2 {
    font-family: 'Cormorant Garamond', serif;
    color: $main;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-lt;
  }
  a {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    &:hover {
      color: $main;
    }
  }
  @media screen and (max-width: $break-sm) {
    width: 100vw;
  }
}

.about-me {
  background-color: $main;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 20px;
  transition: ease 1s;
  h2 {
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
  }
  p {
    padding: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    line-height: 20px;
  }
  @media screen and (max-width: $break-sm) {
    align-items: center;
  }
}
